@font-face{
	font-family: Quicksand-Regular;
	src: url("Quicksand-Regular.ttf");
}

*{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 44px;
  	padding: 0;
  	margin: 0;
  	background-color: #000;
  	color: #fff;
}

h1{
	font-family: "Quicksand-Regular";
}
